<h1> My events </h1>

<% @attending.each do |a| %>
  <%= link_to a.event.name, event_path(a.event)  %>
  <p>
    <%- if a.host_type? -%>
      You're hosting.
    <%- else -%>
      You're invited!
        <%- if a.attendance==nil -%>
          Are uComing?
        <%- elsif a.attendance? -%>
          You're joining.
        <%- else -%>
          You can't join.
        <%- end -%>
  </p>
    <%- end  -%>
<% end %>
<br>

<%= link_to('Home', welcome_index_path)%>
