<h1> My events </h1>

<% @attending.each do |a| %>
  <%= link_to a.event.name, event_path(a.event)  %>
  <%- if a.host_type -%>
    Host
  <%- end  -%>
<% end %>
<br>

<%= link_to('Home', welcome_index_path)%>
